html {
  font-size: 70%;
}
* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
  font-weight: 100;
  color: black;
}
body::-webkit-scrollbar {
  display: none;
}

@media only screen and (width<= 600px){
    html{
        font-size: 40%;
    }
}
@media only screen and (width<= 440px){
    html{
        font-size: 35%;
    }
}
@media only screen and (width<= 380px){
    html{
        font-size: 32%;
    }
}
@media only screen and (width<= 330px){
    html{
        font-size: 28%;
    }
}